@font-face {
    font-family: 'Pokemon Solid';
    src: url("../assets/fonts/pokemon\ solid.woff2");
}

body{
    max-width: 1280px;
    padding-left: 35%;
    background-color: gray;
}

.title{
    font-family: 'Pokemon Solid', sans-serif;
    font-size: 5rem;
    margin-bottom: 1px;
    color:yellow;
    text-shadow: 3px 3px 3px blue;
}

.credits{
    margin-top: 1px;
}

.rand-btn{
    width: 350px;
    height: 100px;
    font-size: 1.5rem;
    background-color:aqua;
}

.rand-btn:hover{
    background-color: rgb(121, 255, 255);
}

.card{
    width: 300px;
    height: 350px;
    margin-top: 2%;
    padding: 2%;
    background-color: rgb(230, 230, 78);
    border-radius: 10px;
    border: 10px outset white;
}

.card label{
    font-weight: bolder;
    text-decoration: underline;
}

.card h3{
    margin: 10px 0px 20px 0px;
}

.card img{
    width:100%;
    height: 60%;
}

@keyframes showing {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 50;
    }
    100%{
        opacity: 100;
    }
}